.header__lang-link {
  color: #FFF;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.17;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity .4s;
}

.header__lang-link:hover {
  opacity: 0.8;
}


@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: calc(20/18);
  }
}
