.footer__link {
  font-size: 16px;
  line-height: calc(18/16);
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  font-family: 'Inter', Arial, sans-serif;
  cursor: pointer;
  transition: opacity .4s;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
